.toggleButton {
  position: relative;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.toggleTrack {
  position: relative;
  width: 76px;
  height: 17px;
  background-color: #ededed;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.toggleHandle {
  position: absolute;
  width: 39px;
  height: 17px;
  background-color: #ffaaaa;
  border-radius: 12px;
  transition: transform 0.3s;
}

.active .toggleTrack {
  background-color: #ededed;
}

.active .toggleHandle {
  transform: translateX(36px);
  background-color: #b8e1ed;
}

.toggleLabel {
  margin-left: 10px;
}
