.iceCellContainer {
  width: 100%;
  padding-top: calc(100% / (50 / 64)); 
  position: relative;
  overflow: hidden;
}

.iceCell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 8px;
}

.iceCell:hover {
  cursor: pointer;
}
