.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
}

.photoViewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabViewButtonContainer {
  padding-left: 50px;
}

.rightAligned {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
}

.fridgeContainer {
}
