.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fridgeContainer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: auto;

  @media (min-width: 480px) {
    width: 344px;
  }
}

.tabViewButton {
  padding-left: 220px;
}
