.container {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {

  height: fit-content;
  max-height: 100%;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 0 32px;
}

.photo-container {
  position: relative;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border: 4px solid #fff;
  box-shadow: 4px 4px 0px 0px #cecece;
}

.flavor-container {
  width: 100%;
  padding-right: 48px;
}

.iceLayout {
  margin-right: 20px;
  margin-left: 20px;
}

.flavor_name {
  padding-top: 2px;
  padding-left: 6px;
  font-size: 16px;
  color: #545454;
}

.photoContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 8px;
  left: 16px;
  text-align: center;
}

.month {
  font-size: 18px;
  margin-bottom: -10px;
}

.day {
  font-size: 32px;
}

.icecream-container {
  position: absolute;
  bottom: -40px;
  right: -24px;
  width: 80px;
  transform: rotate(25deg);
  flex-shrink: 0;
  fill: #d9d9d9;
  filter: drop-shadow(4px 4px 0px #cdcdcd);
}
