.container {
  height: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  color: #545454;
}

.finder-container {
  max-width: 100%;
  height: calc(80% - 120px);
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finder-innerContainer {
  width: fit-content;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slideOut {
  animation: slideOut 1s 1s ease-in forwards;
}

.roof-container {
  display: flex;
  width: 100%;
  height: calc(10% + 30px);
  max-height: 120px;
  align-items: flex-end;
}
