.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f5f5f5;
}

.finder-container {
  width: 100%;
  padding: 16px;
}