.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 16px;
}

.spoon-wrapper {
  margin-bottom: -48px;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.spoon-slideOut {
  animation: slideOut 1s ease-in forwards;
}

.input {
  display: none;
}

.input-label {
  cursor: pointer;
}